.form {
    width: 100%;
    text-align: center;
    margin: 2rem;
  

    input {
        width: 30rem;
    }
    button {
        background-color: transparent;
        border: none;
        position: relative;
        left:-20px;
    }
    
    }
    